/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

.main-content {
    padding: 101px 0 0px;
}

@media (min-width: 992px) {
    #main-content {
        padding: 103px 0 0px;
    }
}

section {
  /*margin-top: -5px;*/
  padding: 150px 0;
}
