html, body {
  height: 100%;
  margin: 0;
}

/*Navigation*/

nav#mainNav > .container {
    position: relative;
}
#mainNav img {
    width: 80px;
}
a.log-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    padding: 0 25px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
a.admin-btn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 13px;
    padding: 0 25px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

/*Main Content*/
.main-content {
    /*padding-top: 106px;*/
}
.main-content img {
    width: 100%;
}
#mission ul {
    list-style-type: none;
}
#mission ul li {
    line-height: 2;
}
#mission ul li > i.fas {
    position: absolute;
    left: 25px;
    margin-top: 8px;
    color: #4764a1;
}

@media (min-width: 992px) {
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    align-items: flex-end;
	}
}


/*----------- Backend -----------*/
.header .container .row {
    padding-top: 20px;
}
.logo a img {
    width: 40px;
    margin: 5px;
}
.logo a {
    font-size: 16px;
    color: #fff;
}

table#personnel-list tr > * {
    border: 1px solid #999;
    padding: 5px 3px;
}

div#personnel-indvl, div#personnel-indvl .thumbnail > * {
    display: block;
    position: relative;
}
div#personnel-indvl .thumbnail {
    position: relative;
    height: 100%;
    min-height: 710px;
}
#personnel-indvl .action {
    width: 100%;
    float: left;
    margin: 0 auto;
    box-sizing: content-box;
    height: 80px;
    padding: 0;
    border-top: 1px solid #eee;
}

#personnel-indvl .action > * {
    display: block;
    width: 100%;
}
#personnel-indvl .action .edit-btn, #personnel-indvl .action form {
    height: 40px;
    line-height: 2.5;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    background-color: #2c2756;
}
#personnel-indvl .action form input[value="Delete"] {
    border: none !important;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}
#del-btn .modal-header {
    height: 50px;
    padding: 10px 20px;
}
#del-btn .modal-header > * {
    line-height: 2;
    display: block;
    position: relative;
    width: auto;
}
#del-btn form {
    width: auto;
    display: block;
    float: right;
    margin-left: 5px;
}
.btn-add {
    margin-bottom: 10px;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -55px;
}
footer,
.push {
  height: 55px;
}



/*Forms */
label[for="statusDate"], input#statusDate, label[for="daysGiven"], input#daysGiven {
    display: none;
}
input#statusDate {
    width: 100%;
    padding: 3px 5px;
    line-height: 2.1;
    border: #ccc solid 1px;
    border-radius: 5px;
}